* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background: #0F0000;
}

header {
    background: #0F0000;
    height: 70px;
    color: #F6E9E9;
    border-bottom: 1px solid #F6E9E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h1 {
    margin-left: 30px;
}

#logout-btn {
    margin-right: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #F6E9E9;
    color: #0F0000;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
}

#logout-btn:hover {
    background: #dbc9c9;
}

main {
    display: grid;
    grid-template-columns: 30px max-content auto;
    grid-template-rows: 50px auto;
}

main > #formulario {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background: #0F0000;
    border: 1px solid #F6E9E9;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    max-height: 500px;
}

main > #formulario > #aside-top {
    color: #F6E9E9;
    display: grid;
    grid-template-columns: auto auto;
}

main > #formulario > #aside-top > #arrow-hide {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

main > aside > form {
    display: grid;
    grid-template-rows: 20px repeat(6, auto) 20px;
    row-gap: 25px;
    align-content: start;
}

main > aside > form > .item-form {
    display: flex;
    flex-direction: column;
}

main > aside > form > .item-form > label {
    color: #F6E9E9;
}

main > aside > form > .item-form > input {
    height: 30px;
    max-width: 250px;
    border-radius: 8px;
    border: none;
    margin-top: 3px;
    background-color: #F6E9E9;
}

main > aside > form > .item-form#titulo-field {
    grid-row: 2;
}

main > aside > form > .item-form#genero-field {
    grid-row: 3;
}

main > aside > form > .item-form#status-field {
    grid-row: 4;
}

main > aside > form > .item-form#nota-field {
    grid-row: 5;
}

main > aside > form > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 6;
    height: 30px;
    max-width: 250px;
    border-radius: 8px;
    border: none;
    margin-top: 3px;
    background-color: #F6E9E9;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

main > aside > form > button:hover {
    background: #dbc9c9;
}

main > aside > form > button > span{
    margin-right: 10px;
}

section#sessao-de-filmes {
    grid-column: 3;
    grid-row: 2;
    color: #F6E9E9;
    padding-left: 50px;
    padding-bottom: 20px;
}

section#sessao-de-filmes article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

section#sessao-de-filmes article > div.card-filmes {
    display: grid;
    grid-template-columns: 1fr auto ;
    grid-template-rows: 1fr;
    padding: 8px 10px;
    border: 1px solid #F6E9E9;
}

section#sessao-de-filmes article > div.card-filmes > .info-filmes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    grid-row: 1;
    align-self: center;
}

section#sessao-de-filmes article > div.card-filmes > div.icons {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section#sessao-de-filmes article > div.card-filmes > div.icons > img {
    height: 24px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #F6E9E9;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

section#sessao-de-filmes article > div.card-filmes > div.icons > img:hover {
    background: #3a2f2f;
}

body > #popup-excluir {
    display: none;
    position: absolute;
    background: #0f0000e3;
    border: 1px solid #F6E9E9;
    border-radius: 8px;
    padding: 10px;
    color: #F6E9E9;
    z-index: 1000;
    width: 180px;
}

body > #popup-excluir p {
    margin-bottom: 10px;
}


body > #popup-excluir button {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    background: #F6E9E9;
    letter-spacing: 2px;
    color: #0F0000;
    padding: 10px 0;
    border-radius: 8px;
    transition: all ease-in-out;
}

body > #popup-excluir button:hover {
    background: #dbc9c9;

}

body > #popup-editar {
    display: none;
    position: absolute;
    width: 220px;
    padding: 12px;
    background: #0F0000;
    border: 1px solid #F6E9E9;
    border-radius: 8px;
    z-index: 1000;
}

body > #popup-editar input {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    background: #F6E9E9;
    border-radius: 8px;
    border: none;
    color: #0F0000;
    font-size: 18px;
}

body > #popup-editar input::placeholder {
    color: #745858;
    
}

body > #popup-editar button {
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    background: #F6E9E9;
    color: #0F0000;
    letter-spacing: 2px;
    cursor: pointer;
}

#popup-editar button:hover {
    background: #dbc9c9;

}

#paginacao {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#paginacao button {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 20px;
    background: #F6E9E9;
    border: none;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

#paginacao button:hover {
    background: #bca7a7;
    color: #0F0000;
}

#buscar-filme {
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
    background: #F6E9E9;
    color: #0F0000;
    font-size: 18px;
}

#buscar-filme::placeholder {
    color: #745858;
} 